@font-face{
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-Regular.ttf') format("truetype"), local('MontSerrat');
}

body {
    background: white;
    margin: 0;
}
html {
  scroll-behavior: smooth;
}

.intrologocontainer {
    position: fixed;
    background: linear-gradient(#000028, #000017);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.intrologo {
    width: 165;
    display: flex;
    flex-direction: column;
}

.logo-uline {
    margin-top: 15px;
    height: 5px;
    background-color: white;
}

#logo-firstline {
    width: 165px;
}

#logo-secondline {
    width: 125px;
}

#logo-thirdline {
    width: 95px;
}
