@font-face{
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-Regular.ttf') format("truetype"), local('MontSerrat');
}

body {
    background-color: #000028
}
html {
  scroll-behavior: smooth;
}
#contentWrapper {
    position: absolute;
    top: 0;
    width: 99%;
    height: 100%;
    text-align: center;
    transition: 3s;
}
#terminalContainer {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-top: 75px;
    width: 90%;
    height: 60%;
    opacity: 0;
    background-color: #1b0a1a;
    border-radius: 10px;
    transition: 3s;
    text-align: left;
}
#terminalBody {
	position: relative;
    display: inline-block;
    overflow-x: none;
	overflow-y: scroll;
    width: 100%;
    height: 90%;
    background-color: transparent;
    text-align: left;
	word-wrap: break-word;
    outline: transparent;
}
#terminalHeader {
    position: relative;
    display: inline-block;
    margin-top: 0;
    width: 100%;
    height: 40px;
    opacity: 1;
    background-color: rgb(69,69,69);
    transition: 3s;
    text-align: left;
}

#inputChunk {
    width: 90%;
	margin-top: 15px;
    margin-left: 20px;
    font-size: 20px;
    background: transparent;
	color: white;
	display: inline-block;
    overflow-y: auto;
    overflow-x: auto;
    word-wrap: break-word;
    outline: transparent;
    font-family: Courier, monospace;
}
#inputChunk input {
    background: transparent;
    border: transparent;
    outline: transparent;
    color: white;
    font-size: 20px;
    font-family: Courier, monospace;
}

.commandHistory {
    width: 90%;
	margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    background: transparent;
	color: #82ca6f;
	display: inline-block;
    overflow-y: auto;
    overflow-x: auto;
    word-wrap: break-word;
    outline: transparent;
    font-family: Courier, monospace;
}

.windowButton {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 10px;
    margin-top: 13px;
    margin-right: 3px;
}

.windowButton:nth-child(1){
    margin-left: 13px;
    background: #ff154c;
}
.windowButton:nth-child(2){
    background: #95ff46;
}
.windowButton:nth-child(3){
    background: #138032;
}

#terminalBody::-webkit-scrollbar {
    width: 20px;
	background-color: transparent;
}
#terminalBody::-webkit-scrollbar-track, #terminalContainer::-webkit-scrollbar-thumb {
    border: 18px solid rgba(255,255,255,0);
	background-clip: padding-box;
}
#terminalBody::-webkit-scrollbar-track {
	background-color: transparent;
}
#terminalBody::-webkit-scrollbar-thumb {
	background-color: white;
}

#contactButtonsContainer {
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 250px;

}
.contactButtons {
    width: 10%;
    color: transparent;
    transition: 1s;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    display: inline-block;
    padding-left: 6%;
    padding-right: 6%;
}
#resumeIcon {
    width: 120px;
    height: 120px;
}
#githubIcon {
    width: 120px;
    height: 120px;
}
#linkedinIcon {
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#emailIcon {
    width: 120px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contactButtons:hover {
    color: white;
}

#scrollArrow {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 70px;
    height: 60px;
}

#scrollArrow:hover {
    cursor: pointer;
}

@media only screen and (min-width : 980px) {
    #inputChunk input {
        width: 35%;
    }
    #navbar {
        opacity: 1;
        background-color: transparent;
        height: 115px;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        text-align: center;
        margin-bottom: 0;
    }

    #TitleName {
        position: relative;
        display: inline-block;
        color: white;
        font-size: 45px;
        padding-left: 50px;
        padding-top: 45px;
        margin-top: 0;
        margin-left: 0;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        z-index: 0;
        top: -500px;
        transition: 1.3s;
    }

    #TitleImage {
        position: relative;
        margin-top: 25px;
        display: inline-block;
        border: 2px solid transparent;
        padding-top: 0;
        vertical-align: top;
        z-index: 2;
        border-radius: 20px;
        transition: 1s;
        top: -500px;
    }
}

@media only screen and (max-width : 980px) {
    #inputChunk input {
        width: 30%;
    }
    #navbar {
        opacity: 1;
        background-color: transparent;
        height: auto;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        text-align: center;
    }

    #TitleName {
        position: relative;
        display: inline-block;
        color: white;
        font-size: 35px;
        padding-left: 20px;
        padding-top: 45px;
        margin-top: 0;
        margin-left: 0px;
        margin-right: 10px;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        z-index: 0;
        animation: text 3s 1;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        top: -500px;
        transition: 1.3s
    }

    #TitleImage {
        position: relative;
        margin-top: 25px;
        margin-left: 10px;
        display: inline-block;
        padding-top: 0;
        vertical-align: top;
        z-index: 2;
        animation: growBorder 2s 1;
        animation-delay: 4s;
        animation-fill-mode: forwards;
        border: 2px solid white;
        border-radius: 20px;
        top: -500px;
        transition: 1s;
    }
}