@font-face{
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-Regular.ttf') format("truetype"), local('MontSerrat');
}

body {
    background-color: #000028;
    margin: 0;
}
html {
  scroll-behavior: smooth;
}
#contentWrapper {
    position: absolute;
    top: 0;
    width: 99%;
    height: 100%;
    text-align: center;
    transition: 3s;
}
#terminalContainer {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-top: 75px;
    width: 90%;
    height: 60%;
    opacity: 0;
    background-color: #1b0a1a;
    border-radius: 10px;
    transition: 3s;
    text-align: left;
}
#terminalBody {
	position: relative;
    display: inline-block;
	overflow-y: scroll;
    width: 100%;
    height: 90%;
    background-color: transparent;
    text-align: left;
	word-wrap: break-word;
    outline: transparent;
}
#terminalHeader {
    position: relative;
    display: inline-block;
    margin-top: 0;
    width: 100%;
    height: 40px;
    opacity: 1;
    background-color: rgb(69,69,69);
    transition: 3s;
    text-align: left;
}

#inputChunk {
    width: 90%;
	margin-top: 15px;
    margin-left: 20px;
    font-size: 20px;
    background: transparent;
	color: white;
	display: inline-block;
    overflow-y: auto;
    overflow-x: auto;
    word-wrap: break-word;
    outline: transparent;
    font-family: Courier, monospace;
}
#inputChunk input {
    background: transparent;
    border: transparent;
    outline: transparent;
    color: white;
    font-size: 20px;
    font-family: Courier, monospace;
}

.commandHistory {
    width: 90%;
	margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    background: transparent;
	color: #82ca6f;
	display: inline-block;
    overflow-y: auto;
    overflow-x: auto;
    word-wrap: break-word;
    outline: transparent;
    font-family: Courier, monospace;
}

.windowButton {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 10px;
    margin-top: 13px;
    margin-right: 3px;
}

.windowButton:nth-child(1){
    margin-left: 13px;
    background: #ff154c;
}
.windowButton:nth-child(2){
    background: #95ff46;
}
.windowButton:nth-child(3){
    background: #138032;
}

#terminalBody::-webkit-scrollbar {
    width: 20px;
	background-color: transparent;
}
#terminalBody::-webkit-scrollbar-track, #terminalContainer::-webkit-scrollbar-thumb {
    border: 18px solid rgba(255,255,255,0);
	background-clip: padding-box;
}
#terminalBody::-webkit-scrollbar-track {
	background-color: transparent;
}
#terminalBody::-webkit-scrollbar-thumb {
	background-color: white;
}

#contactButtonsContainer {
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 250px;
}

#resumeIcon {
    width: 120px;
    height: 120px;
}
#githubIcon {
    width: 120px;
    height: 120px;
}
#linkedinIcon {
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#emailIcon {
    width: 120px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contactButtons:hover {
    color: white;
}

#scrollArrow {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 70px;
    height: 60px;
    z-index: 99;
}

#scrollArrow:hover {
    cursor: pointer;
}

#technicalContainer {
    position: relative;
    margin: 400px 0 0 0;
    width: 101%;
    height: auto;
    background-color: rgba(60,100,100,1);
    border-radius: 20px;
    text-align: center;
    z-index: 6;
}

#projectContainer {
    position: relative;
    margin: -50px 0 0 0;
    width: 101%;
    height: auto;
    background-color: rgba(203, 99, 50, 0.6);
    text-align: center;
    z-index: 5;
}

#techincalTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    color: white;
    padding: 45px 0 20px 20px;
}

#projectTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    color: #00100a;
    padding: 80px 0 20px 20px;
}
#mobileSkillContainer {
    margin: 20px 0 0 20px;
    text-align: left;
}
.mobileSkillCategory {
    padding: 20px 0 20px 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    cursor: pointer;
    width: 80%;
    margin: auto;
}

.mobileSkillCategory img {
    transition: 0.5s;
    float: right;
}

.mobileSkillItem {
    height: 0;
    margin-top: 0;
    font-size: 20px;
    overflow: hidden;
    word-wrap: break-spaces;
    line-height: 30px;
    color: #000028;
    transition: 0.5s;
}
.itemSeparator {
    color: white;
}
#expandArrow {

    width: 20px;
    height: 20px;
}
.divider {
    width: 80%;
    height: 0;
    border: 2px solid white;
    margin: auto;
}
@media only screen and (min-width : 980px) {
    .contactButtons {
        width: 10%;
        color: transparent;
        transition: 1s;
        font-size: 30px;
        font-family: "Montserrat", sans-serif;
        text-decoration: none;
        display: inline-block;
        padding-left: 6%;
        padding-right: 6%;
    }
    #inputChunk input {
        width: 35%;
    }
    #navbar {
        opacity: 1;
        background-color: transparent;
        height: 115px;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        text-align: center;
        margin-bottom: 0;
    }

    #TitleName {
        position: relative;
        display: inline-block;
        color: white;
        font-size: 45px;
        padding-left: 50px;
        padding-top: 45px;
        margin-top: 0;
        margin-left: 0;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        z-index: 0;
        top: -500px;
        transition: 1.3s;
    }

    #TitleImage {
        position: relative;
        margin-top: 25px;
        display: inline-block;
        border: 2px solid transparent;
        padding-top: 0;
        vertical-align: top;
        z-index: 2;
        border-radius: 20px;
        transition: 1s;
        top: -500px;
    }
}

@media only screen and (max-width : 980px) {
    .contactButtons {
        width: 25%;
        color: transparent;
        transition: 1s;
        font-size: 30px;
        font-family: "Montserrat", sans-serif;
        text-decoration: none;
        display: inline-block;
        padding-right: 6%;
        padding-left: 6%;
    }
    #inputChunk input {
        width: 30%;
    }
    #navbar {
        opacity: 1;
        background-color: transparent;
        height: auto;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        text-align: center;
    }

    #TitleName {
        position: relative;
        display: inline-block;
        color: white;
        font-size: 35px;
        padding-left: 20px;
        padding-top: 45px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 10px;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        z-index: 0;
        animation: text 3s 1;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        top: -500px;
        transition: 1.3s
    }

    #TitleImage {
        position: relative;
        margin-top: 25px;
        margin-left: 10px;
        display: inline-block;
        padding-top: 0;
        vertical-align: top;
        z-index: 2;
        animation: growBorder 2s 1;
        animation-delay: 4s;
        animation-fill-mode: forwards;
        border: 2px solid white;
        border-radius: 20px;
        top: -500px;
        transition: 1s;
    }
}



/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #7A3A2E;
    border: 4px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: -81px;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgba(64, 30, 19, 0.9);
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgba(64, 30, 19, 0.9) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: rgba(64, 30, 19, 0.9);
    position: relative;
    border-radius: 6px;
    color: white;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    /* Full-width containers */
    .container {
        width: 80%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0;
    }
    .left {
        left: 0;
    }
}